//Global config
body {
  max-width: 2000px;
  margin: 0 auto;
  scroll-behavior: smooth;
}

@media (min-width: 1600px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 1700px) {
  html {
    font-size: 22px;
  }
}

@media (min-width: 1900px) {
  html {
    font-size: 24px;
  }
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

p {
  line-height: 1.2;
}

h2 {
  font-size: 2rem;
  font-family: $poppins_black;
  text-transform: uppercase;
  margin: 1rem 0;
}

section {
  padding: 0 1.5rem;
}

.cta_group {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
  align-items: center;

  &__primary_btn {
    background-color: $orange;
    border-radius: 5px;
    padding: 0.8rem 1.5rem;

    &:hover {
      transform: scale(1.05);
      transition: 0.2s ease;
    }
  }


  &__secondary_btn {
    display: inline-block;
    position: relative;
    color: black;
    padding: 0.8rem 1.5rem 0.8rem 0;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      top: 80%;
      left: 0;
      background-color: black;
      transform-origin: bottom right;
      transition: transform .4s cubic-bezier(.86, 0, .07, 1);
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }

    &:before {
      content: "";
      background-image: url("../img/fleche.png");
      background-size: 100%;
      background-repeat: no-repeat;
      height: 1.25rem;
      width: 1.125rem;
      position: absolute;
      top: 26%;
      right: 0;
    }
  }


}

a {
  display: block;
  text-decoration: none;
  font-family: $poppins_bold;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #0c0c0c;
}

.main_title {
  position: relative;
  margin: 2rem 0 2.5rem 1.5rem;
  display: block;
  z-index: -1;
}

.main_title:after {
  font-family: $quantum;
  text-transform: initial;
  font-size: 1.8rem;
  position: absolute;
  font-style: italic;
  left: 6.25rem;
  top: 1.875rem;
  z-index: -2;
  width: fit-content;
}

.second_title {
  position: relative;
  margin-bottom: 2.5rem;
  display: block;
  z-index: -1;
}

.second_title:after {
  font-family: $quantum;
  width: fit-content;
  text-transform: initial;
  font-size: 1.8rem;
  position: absolute;
  font-style: italic;
  left: 6.25rem;
  top: 1.875rem;
  z-index: -2;
}

//Global media

@media (min-width: 800px) {
  .main_title {
    margin: 5rem 0 2.5rem 1.5rem;
  }
  h2 {
    font-size: 3rem;
  }
  .cta_group {
    a {
      font-size: 1rem;
    }
  }
  .main_title:after, .second_title:after {
    left: 12rem;
    top: 2.5rem;
    font-size: 2.8rem;
  }
}

@media (min-width: 1150px) {
  p {
    font-size: 1.2rem;
  }
  section {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .main_title {
    margin-left: 6rem;
  }
}

//Hidden classes
.hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media (min-width: 500px) {
  .desktop_hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

@media (max-width: 500px) {
  .mobile_hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

@media (min-width: 800px) {
  .mid_hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-10px);
  }

}

@keyframes showUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.showUp {
  opacity: 1;
  transition: 0.5s;
  animation: showUp 1s;

}

.opacity-none {
  opacity: 0;
}


