.color {
  margin-top: 4rem;
p{
  font-family: $poppins;
  span{
    color: $orange;
    font-family: $poppins_bold;
  }
}
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 3rem 0 4rem;
    li {
      padding: 2.5rem 0;

      p {
        opacity: 0;
      }
    }

    li:first-child {
      border-radius: 0.5rem 0 0 0.5rem;
    }

    li:last-child {
      border-radius: 0 0.5rem 0.5rem 0;
    }
  }
}

.color__container__item {
  position: relative;
}

.color__container__item__copy {
  font-family: $poppins_bold;
  position: absolute;
  display: inline-block;
  top: -2.5rem;
  left: 50%;
  transform: translateX(-50%);
  background: $orange;
  color: black;
  padding: 0.5rem 0.625rem;
  border-radius: 0.25rem;
  font-size: 0.6rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.color__container__item.copied .color__container__item__copy {
  opacity: 1;
}

@media (min-width: 800px) {
  .color{
    ul{
      li{
        padding: 5rem 0
      }
    }
  }
}