noscript{
  position: sticky;
  top: 0;
  display: block;
  padding: 1rem 2rem;
  background: $orange;
  z-index: 4;
p{
  color: white;
  text-align: center;
  display: block;
  width: 100%;
  font-family: $poppins_medium;
  a{
    font-size: 1rem;
    text-transform: initial;
    display: initial;
    text-decoration: none;
    color: #0c0c0c;
    font-family: $poppins_bold;
  }
}

}
