.parcours {
  margin: 4rem 0 4rem;
  &__title{
    margin-bottom: 3rem;
    &:after{
      content: 'Mon parcours';
      color: $bleu;
    }
  }
  &__container {
    display: grid;
    gap: 3.5rem;
    margin: 2rem 0 0;

    &__item {
      font-family: $poppins;
      display: flex;
      flex-direction: column;
      position: relative;
      padding-left: 4.375rem;
      &:before {
        content: "";
        background-image: url("../../../img/checkbox.png");
        background-size: 100%;
        background-repeat: no-repeat;
        display: inline-block;
        height: 3.75rem;
        width: 3.75rem;
        left: 0.313rem;
        position: absolute;
      }

      &__school {
        margin-bottom: 0.5rem;
        font-weight: 700;
        font-size: 1.2rem;

      }

      &__duration {
        font-family: Quantum, Times, Serif;
        margin-bottom: 0.8rem;
        color: $bleu;
      }
    }
  }
}

@media (min-width: 800px) {
  .parcours{
    &__container{
      margin: 7rem 0;
      grid-template-columns: 1fr 1fr;
      &__item{
        &__school{
          font-size: 1.5rem;
        }
        &__duration{
          font-size: 1.2rem;
        }
      }

    }
  }
}