.parcours {
  margin: 4rem 0 4rem;
  &__title{
    margin-bottom: 3rem;
    &:after{
      content: 'Mon parcours';
      color: $bleu;
    }
  }
  &__container {
    display: grid;
    gap: 3.5rem;
    margin: 2rem 0 0;

    &__item {
      font-family: $poppins;
      display: flex;
      flex-direction: column;
      position: relative;
      padding-left: 70px;
      &:before {
        content: "";
        background-image: url("../../../img/checkbox.png");
        background-size: 100%;
        background-repeat: no-repeat;
        display: inline-block;
        height: 60px;
        width: 60px;
        left: -5px;
        position: absolute;
      }

      &__school {
        margin-bottom: 0.5rem;
        font-weight: 700;
        font-size: 1.2rem;

      }

      &__duration {
        font-family: Quantum, Times, Serif;
        margin-bottom: 0.8rem;
        color: $bleu;
      }
    }
  }
}