.workstep {
  margin-bottom: 2rem;
  &__title {
    margin-bottom: 6rem;

    &:after {
      content: 'Les étapes de mon travail';
      color: $orange;
      left: 11.25rem;
      top: 2.875rem;
    }
  }

  &__container {
    margin: 0 auto;
    display: flex;
    gap: 2rem;
    overflow: scroll;
    max-width: 18.75rem;

    &__item {
      border-radius: 10px;
      padding: 1.5rem;
      position: relative;
      background: #0c0c0c;

      &__article {

        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: $poppins;
        color: white;
        width: 15.625rem;
        height: 21.875rem;

        &__title {
          font-size: 1.2rem;
          font-weight: 700;
          text-transform: uppercase;
        }

        &__text {
          max-width: 13.75rem;
        }
      }
    }
  }
}
@media (min-width: 800px) {
  .workstep{
    &__container{
      max-width: 21.75rem;
      &__item{
        &__article{
          width: 17.625rem;
          height: 23.875rem;

        }
      }
    }
  }
}

@media (min-width: 800px) {
  .workstep{
    &__container{
      max-width: 24.75rem;
      &__item {
        &__article {
          width: 20.625rem;
          height: 26.875rem;
        }
      }
     }
  }
}