.workstep {
  margin-bottom: 3rem;
  &__title {
    margin-bottom: 6rem;

    &:after {
      content: 'Les étapes dans mon travail';
      color: $orange;
      top: 60px;
      left: 10px;
    }
  }

  &__container {
    margin: 0 auto;
    display: flex;
    gap: 2rem;
    overflow: scroll;
    max-width: 302px;

    &__item {
      border-radius: 10px;
      padding: 1.5rem;
      position: relative;
      background: #0c0c0c;
      position: relative;

      &__article {

        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: $poppins;
        color: white;
        width: 250px;
        height: 350px;

        &__title {
          font-size: 1.2rem;
          font-weight: 700;
          text-transform: uppercase;
        }

        &__text {
          max-width: 220px;
        }
      }
    }
  }

}