.recent {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__title {
    &:after {
      content: 'Projets recents';
      color: $orange;
      right: 2.5rem;
    }
  }

  &__container {
    display: grid;
    grid-gap: 2rem;
    &__card {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      padding: 1.5rem;
      background: #0c0c0c;
      border-radius: 10px;
      transition: 0.4s ease;
      &:hover {
        transform: scale(1.05);
      }


      a {
        text-decoration: none;
        font-size: 1.5rem;
        color: white;
        font-family: $poppins_bold;
        text-transform: uppercase;

        img {
          height: 25rem;
          max-height: 31.25rem;
          border-radius: 8px;
        }
      }
    }
  }


  &__cta {
    margin: 1.5rem auto 2.5rem;
  }
}


@media (min-width: 800px) {
  .recent {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    &:after{
      position: absolute;
      content: '';
      background-image: url("../img/trait_orange.png");
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 500px;
      z-index: 2;
      top: 22%;
      left: 0;
    }


    &__container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2rem;
      &__card {
        max-height: 25rem;
        z-index: 3;
        a {
          overflow: hidden;

          img {
          }
        }
      }
    }
  }
}
@media (min-width: 1150px) {
  .recent{
    &__container{
      &__card{
        max-height: 30rem;
      }
    }
  }
}