.reviews {
  margin-top: 3rem;

  &__title {
    &:after {
      content: 'Retours clients';
      color: $bleu;
    }
  }

  &__slider {
    margin: 4rem auto 1rem;
    max-width: 25rem;

    &__container {
      overflow-x: scroll;
      display: flex;
      flex-direction: row;
      gap: 2rem;
      padding: 1.5rem;
      scroll-behavior: smooth;

      &__article {
        font-family: $poppins_medium;
        font-size: 1.2rem;
        min-width: 100%;
        max-width: 100%;
        font-style: italic;

        &__name {
          text-align: end;
          color: $bleu;
          margin-top: 4rem;
          font-family: $quantum;
        }
      }
    }

    .slider-bullets {
      display: flex;
      justify-content: center;
      gap: 1rem;
      margin: 1.5rem 0 2.5rem;

      .bullet {
        padding: 5px 5px;
        background-color: #e0e0e0;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.3s ease;
        &.active {
          background-color: $bleu;
          padding: 5px 15px;
        }
      }
    }
  }

  &__cta {
    margin: 0 auto;
  }
}

@media (min-width: 800px) {
  .reviews {
    &__slider {
      margin-top: 6rem;
      max-width: 30rem;

      &__container {
        &__article {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media (min-width: 1150px) {
  .reviews {
    &__slider {
      max-width: 35rem;

      &__container {
        &__article {
          font-size: 1.5rem;
        }
      }
    }
  }
}