.skills {
 &__title{
   &:after{
     content: 'Outils de développements';
     color: $bleu;
     left: 20px;
     top:60px;
   }
 }
&__container{
  margin: 5rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  justify-items: center;
}

  img {
    max-width: 50px;
  }
}

