.projects {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .hover_card:hover{
    transform: scale(1.02);
  }
  a {
    text-decoration: none;
    font-family: $poppins;
    color: white;
  }
  &__card {
    padding: 1.5rem;
    background: #0c0c0c;
    border-radius: 10px;
    display: grid;
    gap: 1.5rem;
    &__content {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      p {
        font-size: 0.8rem;
        line-height: 1.1;
      }
      &__category_web{
        display: block;
        width: fit-content;
        padding: 0.5rem;
        color: $orange;
        border: 1px solid $orange;
        border-radius: 5px;
        font-size: 0.7rem;
      }
      &__category_ui{
        display: block;
        width: fit-content;
        padding: 0.5rem;
        color: $bleu;
        border: 1px solid $bleu;
        border-radius: 5px;
        font-size: 0.7rem;
      }
    }

    &__img {
      height: 200px;
      overflow: hidden;
      border-radius: 10px;
    }

    h3 {
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
  &__end{
    font-family: $poppins;
    font-size: 1.2rem;
    text-transform: uppercase;
    display: block;
    width: fit-content;
    margin: 0 auto;
    font-weight: 700;
  }
}
.all_projects_title:after{
  content: 'Mes projets';
  color: $orange;
}