.collab {
  padding: 1.5rem;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  &__title{
    font-family: Quantum, Times, serif;
    font-size: 1.5rem;
    color: $bleu;
  }
  &__text{
    font-family: $poppins;
    margin-bottom: 1rem;
  }
}
@media (min-width: 800px) {
  .collab{
    margin: 7rem 0;
    &__title{
      font-size: 3rem;
    }
    &__text{
      max-width: 30rem;
    }
  }
  
}