@media (min-width: 800px) {

  .navigation {
    padding: 1.5rem;

    h2 {
      display: none;
    }

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      li {
        font-family: Poppins, Helvetica, sans-serif;

        a {
          text-decoration: none;
          font-size: 1.5rem;
          text-transform: uppercase;
          font-weight: 900;
          color: #0c0c0c;
          :hover {
            color: $orange;
          }
        }
      }
    }
  }
}
@media (min-width: 1150px) {
  .navigation{
    padding: 1.5rem 6rem
  }
}

